body {
  margin: 0;
  background: #189eaa;
}

.center {
  display: flex;
  justify-content: center;
}
.formInputs {
  display: flex;
  flex-direction: column;
  padding: 2rem;
  width: 80%;
}
.inputs {
  display: flex;
  flex-direction: column;
}
.input {
  background: #c1e0f0;
  border: none;
  padding: 0.5rem 0;
  font-size: 1.2rem;
  text-indent: 0.5rem;
}
.table {
  width: 80%;
  display: flex;
  flex-direction: column;
  background: white;
}
.tableHeading {
  display: flex;

  justify-content: space-around;
  padding: 0.5rem 0;
}
.tableField {
  font-size: 1.3rem;
  font-weight: 400;
}

.tableRow {
  display: flex;
  justify-content: space-around;
  padding: 0.5rem 0;
}
.settings {
  display: flex;
  gap: 0.8rem;
}
